* {
    float: left;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: auto;
}

.loginForm {
    position: fixed;
    background-color: whitesmoke;
    border: lightgrey 1px solid;
    border-radius: 5px;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 7%;
    padding: 5%;
}

.hrefAccount {
    text-decoration-line: none;
    margin-top: 1.5%;
    margin-left: 45%;
    font-size: 1.01em;
}